 #all1{background: floralwhite; width: 1200px;}
.w{
width: 1200PX;
margin: auto;
}
.header{
height: 108px;
background-color: white;}
.logo{
    float: left;
    width: 397px;
    height: 108px;
    background-color: purple;
}
li{
list-style:none;
 }
 .nav{
float:left;
margin-left:20px;
}
.nav ul li{
float:left;
margin: 0 50px;
}
.nav ul li a{
display: block;
 height:42px;
 padding:0 10px;
line-height:70px;
font-size:25px;
 color:#050505;

}
.nav ul li a:hover {
border-bottom: 2px solid #00a4ff;
}

a{
text-decoration:none;
}
 